.nav-btn {
  margin: 0 auto;
  left: 0;
  right: 0;
  position: absolute;
  top: 100%;
  width: 3em;
}

.nav-btn div { text-align: center;}

.nav-btn span {
  background-color: black;
  display: block;
  height: 5px;
  margin: 7px;
  transition: transform 0.4s ease;
}

.active-bar-first { transform: translate(0px,12px) rotate(45deg);}
.active-bar-second { visibility: hidden;}
.active-bar-third { transform: translate(0px,-12px) rotate(135deg);}

.nav-btn-active { transform: translateY(0);}
