.nav-btn {
  position: absolute;
  width: 48px;
}

.nav-btn div { text-align: center;}

.nav-btn span {
  background-color: black;
  display: block;
  height: 5px;
  margin: 7px;
  transition: transform 0.4s ease;
}

.active-bar-first { transform: translate(0px,12px) rotate(45deg);}
.active-bar-second { visibility: hidden;}
.active-bar-third { transform: translate(0px,-12px) rotate(135deg);}
