* { box-sizing: border-box;}

body { font-family: Raleway, sans-serif;}

/* NAVIGATION MENU */
nav { text-align: right;}

nav ul { margin: 0 5%;}

nav ul li {
  display: inline-block;
  font-size: 1.25em;
  padding: 1em;
}

nav ul li a { color: black;}

.nav-btn { display: none;}
/* END NAVIGATION MENU */


/* CLEAR */
.row:after { clear: both; display: block; content: '';}
/* END CLEAR */

article h3 { background-color: #b8e994; font-family: Anton, sans-serif; font-size: 1.2em; line-height: 1.15em; padding: 0.5em 0.5em;}

article img { width: 100%; height: auto;}

/* LEFT SECTION */
.left-site {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  float: left;
  width: 80%;
}

.left-site article {
  width: 25%;
  padding: 2%;
}

.left-site article:first-of-type { width: 40%;}
.left-site article:first-of-type h3 { font-size: 1.35em;}

/* END LEFT SECTION */


/* RIGHT SECTION */
.right-site {
  background-color: grey;
  float: left;
  width: 20%;
  height: 50vw;
}
/* END RIGHT SECTION */


/* FOOTER */
footer {
  background-color: #2d3436;
  height: 10vw;
}

/* END FOOTER */

@media (max-width: 575px){
  /* NAVIGATION MENU */
  .nav-btn { display: block;}

  nav {
    font-family: 'Raleway', sans-serif;
    background-color: #2f3640;
    position: fixed;
    top: 0;
    text-align: left;
    transform: translateY(-100%);
    transition: transform 0.4s ease;
    width: 100%;
    z-index: 1;
  }

  nav ul { margin: 20%;}

  nav ul li {
    display: block;
    padding: 1em;
  }

  nav ul li a {
    color: #f5f6fa;
    font-size: 1.5em;
    line-height: 1.5em;
    text-transform: uppercase;
  }
  /* END NAVIGATION MENU */


  /* LEFT SECTION */
  .left-site { margin-top: 4em; width: 100%;}

  .left-site article { width: 50%;}

  .left-site article:first-of-type { width: 50%;}
  .left-site article h3 { font-size: 1em;}
  .left-site article:first-of-type h3 { font-size: 1em;}
  /* END LEFT SECTION */


  /* RIGHT SECTION */
  .right-site { width: 100%; height: 20vw;}
  /* END RIGHT SECTION */
}
@media (min-width: 575px) and (max-width: 768px){
  /* LEFT SECTION */

  .left-site { width: 100%;}

  .left-site article { width: 33.333%;}
  .left-site article:first-of-type { width: 50%;}
  .left-site article h3 { font-size: 1em;}
  .left-site article:first-of-type h3 { font-size: 1em;}

  .left-site article:nth-child(2) { width: 50%;}
  /* END LEFT SECTION */

  /* RIGHT SECTION */
  .right-site { width: 100%; height: 20vw;}
  /* END RIGHT SECTION */
}
@media (min-width: 768px) and (max-width: 991px){
  article h3 { font-size: 1em;}

  /* LEFT SECTION */
  .left-site article { width: 33.333%;}

  .left-site article:first-of-type { width: 40%;}
  .left-site article:first-of-type h3 { font-size: 1.15em;}
  /* END LEFT SECTION */
}
@media (min-width: 768px){
  .left-site article:nth-child(2) { width: 30%;}
  .left-site article:nth-child(3) { width: 30%;}
}
